---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$body-font-family: "proxima-nova", -apple-system, sans-serif;

// colors
$background-color: #fafafa;
$text-color: #363636;
$link-color: $text-color;

// base style

body {
  color: $text-color;
  font-family: $body-font-family;
  background-color: $background-color;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 560px;
  margin: auto;

  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.3;
}

a, a:visited {
  color: $link-color;
}

.container {
  align-items: center;
  justify-content: center;
}

article {
  padding: 1em;
}

footer {
  color: lighten($text-color, 40);
  font-size: 0.9rem;
  line-height: 0.8;
  text-align: center;
}

@media (max-width: 375px) {
  body {
    font-size: 1.2rem;
  }
}

