---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$body-font-family: "Roboto Mono", "Menlo", "Consolas", monospace;

// colors
$background-color: #1d1f21;
$text-color: #c9cacc;
$link-color: #2cd8aa;

.container {
  display: flex;
  max-height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

body {
  color: $text-color;
  font-family: $body-font-family;
  background-color: $background-color;

  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.3;
  text-transform: lowercase;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
}

article {
  padding-top: 15vh;
  padding-right: 3vw;
  padding-left: 3vw;
  align-self: flex-start;
}

ol {
  position: relative;
  display: block;
  margin: 0;
  padding: 0rem;
}

ol:before {
  content: "- ";
}

.lambda {
  color: $link-color;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 1.1rem;
  color: $text-color;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: $text-color;
  }
}

@media (max-width: 375px) {
  article {
    padding-top: 5vh;
  }
}
