---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$fallback-font: "Georgia", sans-serif;
$body-font-family: "freight-text-pro", $fallback-font;

// colors
$background-color: rgb(255, 255, 255);
$text-color: rgb(0, 31, 102);
$link-color: rgb(242, 29, 29);

html {
  height: 100%;
}

// base style
body {
  color: $text-color;
  font-family: $body-font-family;
  background-color: $background-color;
}

// layout
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  width: 500px;
  margin: auto;
  padding: 2em;
  padding-bottom: 3em;
}

.primary {
  font-size: 2.5rem;
  line-height: 1.3;
  font-style: italic;
}

@media (max-width: 375px) {
  html {
    font-size: 80%;
  }

  .primary {
    font-size: 2rem;
  }
}

h1, p {
  margin: none;
  padding: none;
}

p {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.4;
}

a, a:visited {
  color: $link-color;
}
